<div>
    <p>
        @AccountResource.ConfirmEmailMsg @Html.ActionLink(AccountResource.LoginConfirmEmailText, SinbaConstants.Actions.Login, SinbaConstants.Controllers.Account, routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
