<div>
    <p>
        @AccountResource.ResetPasswordConfirmationMsg @Html.ActionLink(AccountResource.ResetPasswordConfirmationLinkText, SinbaConstants.Actions.Login, SinbaConstants.Controllers.Account, routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
