<?xml version="1.0"?>

<!--En cas de problème, mettre  debug à true pour corriger les erreurs de synthaxe du fichier de config-->
<log4net debug="false">

  <!-- Définition des appenders courants -->

  <!-- Appender par .NET TraceSystem-->
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss} %-5level %logger -%message%newline%newline%newline" />
    </layout>
  </appender>

  <!-- Appender par Console -->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss} %-5level %logger -%message%newline%newline%newline" />
    </layout>
  </appender>

  <!-- Appender par fichier -->
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss} %-5level %logger -%message%newline%newline%newline" />
    </layout>
    <file value="C:\Logs\TU_Sinba.log.txt"/>
  </appender>
  <appender name="FileAppenderBusiness" type="log4net.Appender.FileAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss} %-5level %logger -%message%newline%newline%newline" />
    </layout>
    <file value="C:\Logs\TU_Sinba.business.log.txt"/>
  </appender>
  <appender name="FileAppenderIHM" type="log4net.Appender.FileAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss} %-5level %logger -%message%newline%newline%newline" />
    </layout>
    <file value="C:\Logs\TU_Sinba.IHM.log.txt"/>
  </appender>
  <appender name="FileAppenderData" type="log4net.Appender.FileAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss} %-5level %logger -%message%newline%newline%newline" />
    </layout>
    <file value="C:\Logs\TU_Sinba.Data.log.txt"/>
  </appender>
  <appender name="FileAppenderPerf" type="log4net.Appender.FileAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss} %-5level %logger -%message%newline%newline%newline" />
    </layout>
    <file value="C:\Logs\TU_Sinba.Perf.log.txt"/>
  </appender>
  

  <!-- Appender sur la gestion d'événements Windows-->
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <applicationName value="Log4net.WebApp" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss} %-5level %logger -%message%newline%newline%newline" />
    </layout>
  </appender>


  <!-- Appender sur une base de donnée -->
  <appender name="DataBase_SqlServerAppender" type="log4net.Appender.AdoNetAppender">
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=YOURDATASOURCE;Initial Catalog=Catalog;Integrated Security=True;MultipleActiveResultSets=True" />
    <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)" />
    <bufferSize value="1" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="200" />
      <layout type="log4net.Layout.PatternLayout" value="%thread" />
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="20" />
      <layout type="log4net.Layout.PatternLayout" value="%level" />
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="200" />
      <layout type="log4net.Layout.PatternLayout" value="%logger" />
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout" value="%message" />
    </parameter>
  </appender>


  <!-- Appender sur un serveur SMTP -->
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <bufferSize value="1" />
    <to value="example@example.fr" />
    <from value="example@example.fr" />
    <subject value="Test de log via Log4Net" />
    <smtpHost value="192.168.238.131" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss} %-5level %logger -%message%newline%newline%newline"/>
    </layout>
  </appender>

  <!-- Définition des différents logger -->


  <!-- Logger root = logger par défaut. Indiquer ici les appenders que vous voulez voir utiliser dans tous les autres -->
  <root>
    <level value="DEBUG" />
    <appender-ref ref="FileAppender" />
  </root>

  <logger name="BusinessLogger">
    <level value="DEBUG" />
    <appender-ref ref="FileAppenderBusiness" />
  </logger>
  
  <logger name="ServiceLogger">
    <level value="DEBUG" />
    <appender-ref ref="FileAppenderBusiness" />
  </logger>

  <logger name="DataLogger">
    <level value="DEBUG" />
    <appender-ref ref="FileAppenderData" />
  </logger>

  <logger name="IHMLogger">
    <level value="DEBUG" />
    <appender-ref ref="FileAppenderIHM" />
  </logger>

  <logger name="PerformanceLogger">
    <level value="DEBUG" />
    <appender-ref ref="FileAppenderPerf" />
  </logger>


</log4net>