
@{
    Html.EnableClientValidation(false);
}
@Html.DevExpress().GridView(settings =>
{
    ViewHelper.GridViewDefaultSettings(settings, "gridAssociation",
    allowDragDrop: false,
    allowSortResize: false,
    showFilter: false,
    enablePaging: false,
    gridViewEditingMode: GridViewEditingMode.Batch);
    settings.KeyFieldName = DbColumns.MaterielAssocieId;
    settings.CallbackRouteValues = new { Controller = SinbaConstants.Controllers.Materiel, Action = SinbaConstants.Actions.AssocierMaterielPartial };
    //settings.SettingsEditing.Mode = GridViewEditingMode.Batch;
    settings.CommandColumn.Visible = true;
    settings.CommandColumn.ShowDeleteButton = true;
    settings.CommandColumn.Width = Unit.Pixel(100);
    settings.ClientSideEvents.BeginCallback = "AssocierMaterielBeginCallback";
    // Pagination

    // Buttons column: Add, Edit, Delete
    settings.Columns.Add(column =>
    {
        column.Width = Unit.Pixel(25);
        column.Caption = string.Format("<span class=\"glyphicon glyphicon-green glyphicon-plus linkbutton\" onclick=\"{0}.AddNewRow();\" title=\"{1}\"></span>", settings.Name, CommonResource.btnAddTooltip);
        //column.SetDataItemTemplateContent(c => ViewContext.Writer.Write(string.Format("<span class=\"glyphicon glyphicon-green glyphicon-trash linkbutton\" onclick=\"(function(s, e) {{ {0}.DeleteRow(GetVisibleIndex(event)); }} )()\" title=\"{1}\"></span>", settings.Name, CommonResource.btnDeleteTooltip)));
        //column.SetEditItemTemplateContent(c => ViewContext.Writer.Write(string.Format("<span class=\"glyphicon glyphicon-green glyphicon-trash linkbutton\" onclick=\"(function(s, e) {{ {0}.DeleteRow(GetVisibleIndex(event)); }} )()\" title=\"{1}\"></span>", settings.Name, CommonResource.btnDeleteTooltip)
        column.Settings.AllowDragDrop = DefaultBoolean.False;
        column.Settings.AllowSort = DefaultBoolean.False;
        column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
        column.CellStyle.HorizontalAlign = HorizontalAlign.Center;
        column.FixedStyle = GridViewColumnFixedStyle.Left;
    });

    //Code
    settings.Columns.Add(column =>
    {
        column.FieldName = "MaterielId";
        column.Caption = "Id du Materiel ";
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Width = Unit.Pixel(100);
        column.ReadOnly = true;
    });

    settings.Columns.Add(c =>
    {
        c.FieldName = "MaterielAssocieId";
        c.Caption = "Materiel Associé ";
        c.EditorProperties().ComboBox(p =>
        {
            p.TextField = "LibelleMateriel";
            p.ValueField = "MaterielId";
            p.ValueType = typeof(long);
            p.DataSource = ViewBag.AssocierMateriel;
        });
        c.Width = 300;
        c.ReadOnly = false;
    });

    settings.Columns.Add(column =>
    {
        ViewHelper.GridViewDateColumn(column, fieldName: "DateInstallation", caption: "Date d'installation", dateTimeFormat: SinbaDateTimeFormat.Date);
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Width = Unit.Pixel(100);
    });
    settings.Columns.Add(column =>
    {
        ViewHelper.GridViewDateColumn(column, fieldName: "DateRetrait", caption: "Date de retrait", dateTimeFormat: SinbaDateTimeFormat.Date);
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Width = Unit.Pixel(100);
    });

    // Keeping grid state
    settings.ClientLayout = (s, e) =>
    {
        if (e.LayoutMode == ClientLayoutMode.Loading)
        {
            if (Session[Strings.Acces] != null)
                e.LayoutData = (string)Session[Strings.GridStateMateriel];
        }
        else
            Session[Strings.GridStateMateriel] = e.LayoutData;
    };
}).Bind(Model).GetHtml()
